@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
  --fss0: 14px;
  --fss1: 17px;
  --fss2: 20px;
  --fsm0: 23px;
  --fsm1: 25px;
  --fsx0: 35px;
  --fsx1: 50px;
}

.Vitae {
  --bgc0: #29262d;
  --bgc1: #373741;
  --acc0: rgb(0 0 0 / 0.1);
  --foc0: #FFFFFF;
  --foc1: #fd8e8e;
}

.Droplet {
  --bgc0: #f9fafe;
  --bgc1: #FFFFFF;
  --acc0: rgb(191 209 241 / 0.42);
  --foc0: #081b4b;
  --foc1: rgba(98, 150, 240, 0.42);
}

.hide {
	transform: scaleY(0%) !important;
	transition-property: transform;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.18,0.89,0.32,1.27);
}

body {
  color: var(--foc0);
  background-color: var(--bgc0);
	font-family: 'Nunito', sans-serif;
}

::-moz-selection {
  color: var(--bgc0);
  background-color: var(--foc1);
}

::selection {
  color: var(--bgc0);
  background-color: var(--foc1);
}

#Logo {
  font-size: var(--fsm1);
	display: grid;
  place-content: center;
}

button {
	border: none;
	background: none;
	color: var(--foc0);
	font-size: var(--fss1);
	font-family: 'Nunito', sans-serif;
}

section#Hero {
	padding: 30px 0 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

section#Hero > div {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
}

section#Hero > div > h1.Logo {
	text-indent: 5;
	line-height: 40px;
	padding: 0;
	margin: 0;
	font-size: 50px;
}

section#Hero > div > h2 {
	line-height: 30px;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

section#Hero > div > span {
	line-height: 10px;
	border-radius: 25px;
}

img.Sm {
	width: 200px;
	border-radius: 40px;
  margin-top: 20px;
}

