{% macro footer(year) %}
<section id="Footer" class="Bar">
  <span>&#169; Juan Castillo {{year}}</span>
  <span><a href="https://www.freepik.com/free-vector/pharmaceutical-research-isometric-landing-page_10412428.htm#query=isometric&position=12&from_view=author">Images on "About me" section by upklyak</a> on Freepik</span>
</section>
{% endmacro %}
