{% macro tooltip(id, options=[{name: "Opción", action: ""}]) %}
<div id="{{ id }}" class="Tooltip">
  <button
  onclick="{{ id }}_toggle()">{{ caller() }}</button>
  <div class="Options Bar hide">
    {% for opt in options %}
      <button onclick="{{ opt.action }}">{{ opt.name }}</button>
    {% endfor %}
  </div>
</div>
<script>
  const {{ id }}_toggle = () => document.querySelector("#{{ id }} > .Options").classList.toggle("hide");
  document.addEventListener("click", (event) => {
    // If user clicks inside the element, do nothing
    if (event.target.closest("#{{ id }}")) return
    // If user clicks outside the element, hide it!
    console.log("outside")
    document.querySelector("#{{ id }} > .Options").classList.add("hide");
  })
</script>
{% endmacro %}
