{% extends 'layout.njk' %}

{% block body %}
    <section class="Contact">
        <h2>GitHub</h2>
    </section>
    <section class="Contact">
        <h2>LinkedIn</h2>
    </section>
    <section class="Contact">
        <h2>Freelancer.com</h2>
    </section>
{% endblock %}
