{% extends 'layout.njk' %}
{% import 'components/btn.njk' as btn %}

{% block styles %}
    <link href="/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section id="Hero">
                    <img class="Sm" src="https://i.imgur.com/FdAI9DF.jpg"/>
                    <div>
                        <h1 class="Logo">Juan Castillo</h1>
                        <h2>Desarrollador Fullstack</h2>
                        <span>Calidad Funcional y Estética</span>
                        <!--{{ btn.btn("BOTÓN", "Text", "console.log('Hola Botón')") }}-->
                    </div>
                </section>
                <section id="UnHero" class="Bar">
                    <section id="About">
                        <div class="Info">
                            <h2>Sobre mí</h1>
                            ¡Hola! Soy un desarrollador de software especializado en construir interfaces gráficas.
                            Me especializo en crear plataformas web con tecnologías web, pues, pues soy un fiel creedor
                            de que las plataformas de nueva generación más revolucionarias están siendo construidas gracias
                            a la web.
                        </div>
                        <div class="UnInfo">
                            <img alt="Dibujo de Google Chrome" src="maggie-apple_devtools-theme.png">
                        </div>
                    </section>
                    <section id="Skills">
                        <div class="Info">
                            <h2>Habilidades</h1>
                        </div>
                        <div class="UnInfo">
                            <div>
                                <img alt="El logo del lenguaje de maquetado HTML5" src="html5.png">
                            </div>
                            <div>
                                <img alt="El logo del framework de construcción de interfaces React" src="react.png">
                            </div>
                            <div>
                                <img alt="El logo del runtime de JavaScript Node.js" src="node.png">
                            </div>
                            <div>
                                <img alt="El logo del software de control de versiones Git" src="git.png">
                            </div>
                            <div>
                                <img alt="El logo de la línea de comadnos Bourne Again (Bash)" src="bash.png">
                            </div>
                            <div>
                                <iconify-icon icon="icon-park-outline:communication" style="color: var(--foc0);" width="100%"></iconify-icon>
                            </div>
                        </div> 
                    </section>
                    <section id="Services">
                        <div class="Info">
                            <h2>Servicios</h1>
                            - Desarrollo de Aplicaciones (Páginas, Webapps, Consola)
                            - Diseño de UI/UX (Web, Móvil, Escritorio)
                            - Arquitectura de Aplicaciones
                        </div>
                        <div class="UnInfo">
                            <img alt="Dibujo de Google Chrome" src="maggie-apple_devtools-theme.png">
                        </div>
                    </section>
                    <section id="Contact">
                        <div class="UnInfo">
                            <img alt="Dibujo de Google Chrome" src="maggie-apple_devtools-theme.png">
                        </div>
                        <div class="Info">
                            <h2>Contacto</h1>
                            Me puedes contactar acá
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
{% endblock %}