{% import "components/nav.njk" as nav %}
{% import "components/footer.njk" as footer %}
<!DOCTYPE html>
<html>
    <head>
        <title>Juan Castillo!</title>
        <meta name="description"
        content="Desarrollador de software, creador de contenido y amante de la web. Si tienes una idea, puedo hacerla realidad">
        <link href="/comp.css" rel="stylesheet">
        <link href="/pme.css" rel="stylesheet">
        {% block styles %}{% endblock %}
        <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
        {% block scripts %}{% endblock %}
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                if (!localStorage.getItem("cfuendev-theme")) {
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        localStorage.setItem("cfuendev-theme", "Vitae");
                    } else { localStorage.setItem("cfuendev-theme", "Droplet"); }
                    
                }
                document
                    .body
                    .classList
                    .add(localStorage.getItem("cfuendev-theme"))
            });
        </script>
    </head>
    <body class="">
        {{ nav.nav() }}
        {% block body %}{% endblock %}
        {{ footer.footer(year) }}
    </body>
</html>